<%= page_header t('.header') %>

<div class='row'>
  <div id='driving-services' >
    <%= render partial: 'car', collection: @cars %>
  </div>

  <div style='clear:both;'>
    <%= t('driving_services_content').html_safe %>
  </div>
</div>

