<%= page_header t('welcome.contacts') %>

<div id='contacts-page'>
  <div class='contacts-entry pull-left'>
    <div class='image'><%= image_tag '/images/phone.png' %></div>
    <div class='value'>y72418241824124</div>
  </div>
  <div class='contacts-entry pull-left'>
    <div class='image'><%= image_tag '/images/email.png' %></div>
    <div class='value'>y72418241824124</div>
  </div>
</div>
