/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "bootstrap.scss";
@import "welcome.css.scss";
@import "cars.css.scss";
@import "ads.css.scss";

$special: #09F;

html, body {
    height: 100%;
}

div.container {
    width: 1170px;
    min-height: 100%;
}

div#header {
    height: 70px;

    h1, h2, h3, h4 {
        line-height: 15px;
    }

    a.brand {
        margin-left: 15px;
        color: #D9EDF7;

        h1.brand-part {
            margin: 8px 0;
        }
    }

    a#back-to-main {
        color: white;
    }

    ul.contacts-nav {
        margin: 3px 25px 0 0;
        padding: 8px 15px;

        h3#phone {
            margin-bottom: 15px;
        }
    }

    div.navbar-inner {
        height: 70px;
        @include border-radius(0);
    }

}

div.subnav {
    /*@include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);*/
    @include border-radius(0 0 5px 5px);
    background-color: $navbarBackground;
    margin: -19px 0 10px 0;

    ul.nav {
        padding: 2px 5px;
        margin: 0 150px;
    }
}

div#header ul.main-nav {
    margin: 15px 0 0 20px;
}

div#push {
}

div#footer {
    height: 60px;
    color: black;

    p {
        padding: 15px;
    }

    @include gradient-vertical($navbarBackgroundHighlight, $navbarBackground);
}
