// Place all the styles related to the rent_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body#rent-requests {

    div#shout-out {
        margin: 15px 0;
        font-size: 18px;
        padding: 10px;
    }

    div#rent-request {
        font-size: 16px;

        div.rent-request-row {
            margin: 10px 0;

            strong {
                display: inline-block;
                float: left;
                width: 200px;
                margin-right: 50px;
                clear: both;
                text-align: right;
            }
        }

    }

    div#special-rent-period-section, div#driving-service-types-section {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px 0;
        @include border-radius(5px);
    }

    div#driving-service-price-explanation {
        font-size: 18px;
    }

    span#receipt-suggestion, span#drop-off-suggestion {
        cursor: pointer;
    }

    div#car-header {
        margin-top: 30px;
    }
    div#car-details {
        margin: 30px 0 0 40px;
        padding: 10px 0 3px 0;
    }

    div#car-name {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding: 15px 10px;
        width: 310px;
    }

    div#car-photo {
        margin-top: 25px;
        width: 330px;
    }
    div#car-specs, div#car-prices {
        margin-top: 25px;
        font-size: 14px;


        hr {
            margin: 0;
        }

        strong {
            display: inline-block;
            float: left;
            width: 215px;
            margin-right: 15px;
            clear: both;
            font-size: 12px;
            text-align: right;
        }

        span.badge {
            padding: 1px 8px;
        }
    }

    div#car-prices {
        strong {
            display: inline-block;
            float: left;
            width: 210px;
            margin-right: 5px;
            clear: both;
            font-size: 11px;
            text-align: right;
        }
    }

    div#car-specs {
        margin-top: 0;

        strong {
            width: 160px;
        }
    }

    div#additional-services {
        div.control-group {
            margin-bottom: 0;
        }

        div.controls {
            margin-left: 10px;
        }
    }

    form#new-rent-request {
        width: 470px;
        margin-right: 10px;
        padding-right: 20px;
        border-right: 1px solid whitesmoke;
    }


    div#rent-specification {
        margin-top: 35px;

        div#cost-specs {
            strong {
                display: inline-block;
                width: 179px;
                text-align: right;
                margin-right: 40px;
            }
        }

        span#rent-request-cost-total {
            font-size: 18px;
            display: inline-block;
            margin-top: 5px;
            padding: 5px;
        }
    }

    div#child-seat-options {
        display: none;
        border: 1px solid #ccc;
        width: 300px;
        padding: 5px;
        @include border-radius(5px);

        label {
            width: 170px;
            margin-right: 25px;
        }

        label[for="rent_request_number_of_child_seats"] {
            margin-left: 6px;
        }

        select#rent_request_number_of_babe_seats, select#rent_request_number_of_child_seats {
            width: 50px;
            margin-left: 25px;
        }

        select#rent_request_number_of_child_seats {
            margin-left: 19px;
        }
    }



}
