// Place all the styles related to the rent_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body#rent-requests {
    div#shout-out {
        margin: 15px 0;
        font-size: 18px;
        padding: 10px;
    }

    div#rent-request {
        font-size: 16px;

        div.rent-request-row {
            margin: 10px 0;

            strong {
                display: inline-block;
                float: left;
                width: 200px;
                margin-right: 50px;
                clear: both;
                text-align: right;
            }
        }
    }

    span#receipt-suggestion, span#drop-off-suggestion {
        cursor: pointer;
    }

    div#car-details {
        margin-top: 40px;
    }

    div#car-name {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding: 15px 10px;
        width: 310px;
    }

    div#car-photo {
        margin-top: 25px;
        width: 330px;
    }
    div#car-specs, div#car-prices {
        margin-top: 25px;
        font-size: 16px;


        hr {
            margin: 0;
        }

        strong {
            display: inline-block;
            float: left;
            width: 150px;
            margin-right: 45px;
            clear: both;
            text-align: right;
        }

        span.badge {
            padding: 1px 8px;
        }
    }
}
